nav.navbar.navbar-expand-lg.bg-primary.fixed-top.navbar-transparent(color-on-scroll='500')
  .container
    .navbar-translate
      a.navbar-brand([routerLink]="['/']", placement='bottom')
        | Home
    .text-right
      ul.navbar-nav
        li.nav-item
          a.nav-link([routerLink]="['/abouttim']")
            i.fa.fa-id-badge.fa-2x
            p &nbsp;Album op volledig scherm
        li.nav-item
          a.nav-link([routerLink]="['/resize']")
            i.fa.fa-camera-retro.fa-2x
            p &nbsp;Resize foto'ss