.wrapper
  .page-header.page-header-small
    .page-header-image(style="background-image: url('assets/img/fotocamera-122400.jpg');")
    .container
      .content-center
        h1.title Beheer pagina
  //- .section.section-about-us
  //-   .container  
  //-     .row
  //-       .col-md-11
  //-         .thumbnails
            