.top(*ngIf="topImage")
	.image([style.background-image]="'url(' + topImage.url + ')'")
	.imageText 
		h3 {{topImage.directoryName}}
.bottom(*ngIf="bottomImage")
	.image([style.background-image]="'url(' + bottomImage.url + ')'")
	.imageText 
		h3 {{bottomImage.directoryName}}
.countdown
	| ({{countdownMinutes}}:{{countdownSeconds}})
