h1 Image management

table
    tr
        th Directory
        th Filename
        th Is resized
    tr(*ngFor="let displayImage of displayImages")
        td {{displayImage.directoryName}}
        td
            a(*ngIf="displayImage.isResized", [href]="displayImage.url", target="_blank") {{displayImage.fileName}}
            span(*ngIf="!displayImage.isResized") {{displayImage.fileName}}
        td {{displayImage.isResized}}