.quatro-row
	.image-container(*ngIf="topLeftImage")
		.image([style.background-image]="'url(' + topLeftImage.url + ')'", [ngClass]="{imageBackgroundCover: topLeftImage.backgroundCover}")
		.imageText 
			h3 {{topLeftImage.directoryName}}
	.image-container(*ngIf="topRightImage")
		.image([style.background-image]="'url(' + topRightImage.url + ')'", [ngClass]="{imageBackgroundCover: topRightImage.backgroundCover}")
		.imageText 
			h3 {{topRightImage.directoryName}}
.quatro-row
	.image-container(*ngIf="bottomLeftImage")
		.image([style.background-image]="'url(' + bottomLeftImage.url + ')'", [ngClass]="{imageBackgroundCover: bottomLeftImage.backgroundCover}")
		.imageText 
			h3 {{bottomLeftImage.directoryName}}
	.iframe-container
		iframe(src="http://192.168.1.127:8080/")
	//- .bottom-right(*ngIf="bottomRightImage")
	//- 	.image([style.background-image]="'url(' + bottomRightImage.url + ')'")
	//- 	.imageText 
	//- 		h3 {{bottomRightImage.directoryName}}
.countdown(*ngIf="showCountdown")
	| {{countdownMinutes}}:{{countdownSeconds}}
.loading(*ngIf="displayImages.length == 0")
	span Bezig met laden van fotos