:host {
}

// .quatro-row {
//   display: flex;
//   // height: 49vh;

//   > .image-container {
//     flex: 50%;
//   }
// }

.quatro-row {
  background-color: black;
  
  height: calc(50vh - 5px);
  // max-height: 100vh;
  //padding-bottom: 10px;
  display: flex;
  // flex: 0 0;
  // flex-wrap: wrap;
  // flex-direction: column;

  > .image-container {
    flex: 50%;
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;

    > .image {
      height:95%;
      max-width:100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    > .imageBackgroundCover {
      background-size: cover;
    }

    .imageText {
      height: 5%;
      width: 100%;
      top: 95%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      > h3 {
        margin: 0;
        color: white;
        text-align: center;
      }
    }
  }

  > .iframe-container{
    flex: 0 0 50%;
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;

    > iframe {
      border: 0;
      height: 100%;
      width: 100%;
    }
  }

  .countdown {
    position: fixed;
    bottom: 0%;
    left: 0%;
    color: white;
    font-size: x-small;
    padding-right: .5rem;
    padding-bottom: .5rem;
  }
}

