.top-left([hidden]="!topLeftImage")
	.image([style.background-image]="topLeftImage.url")
	.imageText 
		h3 {{topLeftImage.directory}}
.top-right([hidden]="!topRightImage")
	.image([style.background-image]="topRightImage.url")
	.imageText 
		h3 {{topRightImage.directory}}
.bottom-left([hidden]="!bottomLeftImage")
	.image([style.background-image]="bottomLeftImage.url")
	.imageText 
		h3 {{bottomLeftImage.directory}}
.bottom-right([hidden]="!bottomRightImage")
	.image([style.background-image]="bottomRightImage.url")
	.imageText 
		h3 {{bottomRightImage.directory}}
.countdown
	| ({{countdownMinutes}}:{{countdownSeconds}}