.topRow(*ngIf="topImage")
	.image([style.background-image]="topImage.url")
.topRowText
	h3 {{topImage?.directory}}
.bottomRow(*ngIf="bottomImage")
	.image([style.background-image]="bottomImage.url")
.bottomRowText
	h3 {{bottomImage?.directory}}
.countdown
	| (Top: {{topImage?.indexOfArrayDebugString}}) (Bottom: {{bottomImage?.indexOfArrayDebugString}}) {{countdownMinutes}}:{{countdownSeconds}}